.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid orange;
  display: grid;
  grid-template-columns: 100px auto 100px;
}

.board {
  height: 400px;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.waiting-room {
  height: 300px;
  border: 1px solid blue;
}

.team-a {
  align-self: start;
}

.team-b {
  align-self: end;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

